:root {
  --heading-font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgba(32, 32, 32, 1) 0%,
    rgba(32, 32, 32, 1) 35%,
    rgba(33, 33, 33, 1) 100%
  );
}
h1,
h2,
p {
  font-family: var(--heading-font-family);
}
h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  margin-top: 20px;
  letter-spacing: 10px;
}
h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 300px;
  letter-spacing: 3px;
}
h3 {
  color: #f65282;
  font-family: var(--heading-font-family);
  font-size: 18px;
  margin: 50px 0;
}
p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: 25px;
  letter-spacing: 3px;
}
.about-social-links {
  margin-top: 40px;
}
.about-social-links a {
  margin-right: 30px;
  font-size: 20px;
}
.btn-branding {
  background-color: white;
  padding: 18px 30px;
  border-radius: 50px;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
}
.btn-branding:hover {
  background-color: rgba(255, 255, 255, 0.549) !important;
}

.navbar-brand {
  font-family: var(--heading-font-family);
  font-weight: 800;
  font-size: 25px;
}
.content {
  margin-top: 100px;
  margin-bottom: 100px;
}
.hero .img-fluid {
  height: 280px;
}
.camera {
  display: inline;
  background-color: #282323;
  padding: 20px;
}
.content .img-fluid {
  height: 280px;
}
footer a {
  color: white;
  font-size: 20px;
  margin: 0 20px;
}
footer a:hover {
  color: rgba(255, 255, 255, 0.525);
}
footer {
  background-color: #282323;
  padding: 40px 50px;
}

@media (max-width: 900px) {
  h2 {
    margin-top: 145px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  h1 {
    font-size: 28px;
    margin-top: -24px;
  }
  p {
    font-size: 16px;
    margin-top: -24px;
  }
  .btn-branding {
    font-size: 10px;
    padding: 8px 0;
    width: 100px;
    letter-spacing: 0;
    margin-top: -28px !important;
  }
  .content {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .hero .img-fluid {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .content .row {
    margin: 0 !important;
  }
}

@media (max-width: 576px) {
  .card-img-overlay {
    padding-top: 0;
  }
  h1 {
    text-align: center;
    font-size: 15px;
    margin-top: 12px;
    line-height: 10px;
    letter-spacing: 6px;
  }
  h2 {
    margin-top: 100px;
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 1px;
  }
  h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
  }
  p {
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0;
    margin-top: 10px;
  }
  .about-social-links {
    text-align: center;
    margin: 10px 0;
  }

  .btn-branding {
    font-size: 5px;
    padding: 2px 0;
    width: 80px;
    letter-spacing: 0;
    margin-top: -39px !important;
  }
  .btn-contact {
    display: flex;
    justify-content: center;
    margin: 20px auto !important;
    font-size: 9px;
  }
  .camera {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: fit-content;
  }
  .navbar-brand img {
    width: 75px;
  }
  .content {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .content .row {
    margin: 0 !important;
  }
  .hero .img-fluid,
  .content .img-fluid {
    margin-bottom: 20px;
  }
  .hero-about {
    margin-top: 0 !important;
  }

  footer {
    padding: 10px 15px;
  }
  .social-links {
    margin-bottom: 15px;
    text-align: center;
  }
}
