:root {
  --heading-font-family: "Roboto", sans-serif;
}
body {
  background: linear-gradient(
    90deg,
    rgba(32, 32, 32, 1) 0%,
    rgba(32, 32, 32, 1) 35%,
    rgba(33, 33, 33, 1) 100%
  );
  color: white;
  font-size: 25px;
}
.introduction {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: -1em;
}
h1,
h2,
p {
  font-family: var(--heading-font-family);
}
h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 4.5em;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.5em;
  font-weight: 700;
}
h3 {
  color: #f65282;
  font-family: var(--heading-font-family);
  font-size: 1.5em;
  margin: 50px 0;
}
p {
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 3px;
}
.about-social-links {
  margin-top: 40px;
}
.about-social-links a {
  margin-right: 30px;
  font-size: 20px;
}
.btn-branding {
  background-color: white;
  padding: 0.8em 1em;
  border-radius: 2em;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.btn-branding:hover {
  background-color: rgba(255, 255, 255, 0.549) !important;
}
.navbar-brand {
  font-family: var(--heading-font-family);
  font-weight: 800;
  font-size: 1em;
}
.content {
  margin-top: 4em;
  margin-bottom: 4em;
}
.hero .img-fluid {
  height: 280px;
}
.camera {
  display: inline;
  background-color: #282323;
  padding: 20px;
}
footer a {
  color: white;
  font-size: 20px;
  margin: 0 20px;
}
footer a:hover {
  color: rgba(255, 255, 255, 0.525);
}
footer {
  background-color: #282323;
  padding: 40px 50px;
}

@media (max-width: 1399px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1em;
  }
  p {
    font-size: 0.8em;
  }
  .btn-branding {
    font-size: 0.6em;
  }
  .nav-item {
    font-size: 0.6em;
  }
  .copyright {
    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 2.9em;
  }
  h2 {
    font-size: 0.8em;
  }
  p {
    font-size: 0.6em;
  }
  .btn-branding {
    font-size: 0.5em;
  }
  .copyright {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 0.6em;
  }
  p {
    font-size: 0.4em;
  }
  .btn-branding {
    font-size: 0.3em;
    letter-spacing: 1px;
  }
  .social-links {
    margin-bottom: 15px;
  }
  footer {
    padding: 5px 5px;
  }
}

@media (max-width: 768px) {
  .introduction {
    margin-top: 1px;
  }
  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 0.4em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 0.3em;
    letter-spacing: 1px;
  }
  .about-hero {
    text-align: center;
  }
  .about-paragraph {
    font-size: 0.5em;
    line-height: 2em;
  }
  .camera {
    display: inline;
    background-color: #282323;
    padding: 20px;
    font-size: 0.6em;
  }
  .btn-contact {
    display: block;
    margin: 0 auto;
    font-size: 10px !important;
    width: 11em;
    padding: 0.8em 1em;
  }
  .btn-branding {
    font-size: 0.2em;
    letter-spacing: 1px;
  }
  .img-about {
    margin-bottom: 20px;
  }
  footer {
    padding: 5px 5px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 0.8em;
  }
  h2 {
    font-size: 0.3em;
  }
  p {
    font-size: 0.2em;
  }
  .btn-branding {
    font-size: 4px;
    letter-spacing: 1px;
    padding: 2px 2px;
  }
  .content {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .content .img-fluid {
    margin-bottom: 20px;
  }
}
@media (max-width: 351px) {
  h1 {
    font-size: 0.5em;
  }
  h2 {
    font-size: 0.2em;
  }
  p {
    font-size: 0.2em;
  }
}
@media (max-width: 281px) {
  h1 {
    font-size: 0.6em;
  }
  h2 {
    font-size: 0.4em;
  }
  p {
    display: none;
  }
  .btn-branding {
    display: none;
  }
}
