:root {
  --heading-font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgba(32, 32, 32, 1) 0%,
    rgba(32, 32, 32, 1) 35%,
    rgba(33, 33, 33, 1) 100%
  );
}
h1,
h2,
p {
  font-family: var(--heading-font-family);
}
h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  margin-top: 20px;
  letter-spacing: 10px;
}
h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 240px;
  letter-spacing: 3px;
}
p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: 25px;
  letter-spacing: 3px;
}
.btn-branding {
  background-color: white;
  padding: 18px 30px;
  border-radius: 50px;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
}
.btn-branding:hover {
  background-color: rgba(255, 255, 255, 0.549) !important;
}

.navbar-brand {
  font-family: var(--heading-font-family);
  font-weight: 800;
  font-size: 25px;
}
.content {
  margin-top: 100px;
  margin-bottom: 100px;
}
.img-fluid {
  height: 280px;
}

footer a {
  color: white;
  font-size: 20px;
  margin: 0 20px;
}
footer a:hover {
  color: rgba(255, 255, 255, 0.525);
}
footer {
  background-color: #282323;
  padding: 40px 50px;
}

@media (max-width: 576px) {
  h2 {
    margin-top: 5px;
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 1px;
  }
  h1 {
    font-size: 15px;
    margin-top: 0;
    line-height: 10px;
    letter-spacing: 6px;
  }
  p {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0;
    margin-top: 0;
  }
  .btn-branding {
    font-size: 5px;
    padding: 2px 0;
    width: 80px;
    letter-spacing: 0;
    margin-top: -39px !important;
  }
  .navbar-brand img {
    width: 75px;
  }
  .content {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .img-fluid {
    margin-bottom: 20px;
  }
  .content .row {
    margin: 0 !important;
  }
  footer {
    padding: 10px 15px;
  }
  .social-links {
    margin-bottom: 15px;
  }
}
